.box {
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 60%;
  background-color: #3b3231;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}
button {
    font-family: "Roboto Condensed";
    margin: 2px;
}
h1 {
    color: aliceblue;
    border: 2px solid black;
    font-family: 'Roboto Condensed';
    border-radius: 10px;
}
.red {
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 10px;
    width: 60%;
    font-size: large;
    transition: background-color 0.5s;
}
.green {
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 10px;
    width: 60%;
    font-size: large;
    transition: background-color 0.5s;
}

.blue {
    background-color: blue;
    color: white;
    padding: 4px;
    border-radius: 10px;
    width: 60%;
    font-size: large;
    transition: background-color 0.5s;
}
.yellow {
    background-color: yellow;
    color: black;
    padding: 4px;
    border-radius: 10px;
    width: 60%;
    font-size: large;
    transition: background-color 0.5s;
}
.reset {
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 10px;
    width: 60%;
    font-size: large;
    transition: background-color 0.5s;
}
button:hover {
    background-color: white;
    color: black;
}
.reset:hover {
    background-color: grey;
}
@media screen and (min-width: 800px) {
    .box {
        width: 50%;
    }
}
@media screen and (min-width: 1400px) {
    .box {
        width: 30%;
    }
}
@media screen and (max-width: 625px) {
    .box {
        width: 70%;
    }
}
.a {
    font-family: "Roboto Condensed";
    text-decoration: none;
    text-align: center;
    color: grey;
    margin: 5px;
}
